<div class="button-row">
    <button mat-stroked-button color="primary" (click)="onRefresh();"> Refresh</button>
    <button mat-raised-button color="primary" (click)="onUploadAnimal();"> Upload</button>
    <button mat-flat-button color="primary" (click)="onDelete();"> Delete</button>
</div>

<p-table [value]="animalData" [lazy]="true" (onLazyLoad)="loadAnimalData($event)" [paginator]="true" [rows]="10"
    [totalRecords]="totalRecords">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">动物名称 </th>
            <th pSortableColumn="country.name">动物种类 </th>
            <th pSortableColumn="company">饲养员名称 </th>
            <th pSortableColumn="representative.name">饲养员工号 </th>
            <th> 操作 </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>{{customer.name}}</td>
            <td>{{customer.country.name}}</td>
            <td>{{customer.company}}</td>
            <td>{{customer.representative}}</td>
            <td></td>
        </tr>
    </ng-template>
</p-table>